Repository open-museum/omeka-s-docker, changes with the labels that .github/labeler.yml gives for each.
All labels: src, docs, docker, github

gudon
  docker-compose.letsencrypt.yml
Labels: none

stuff
  README.md
  docker-compose.yml
  setup.sh
Labels: src, docs, docker

fix setup
  setup.sh
Labels: src

env
  docker-compose.yml
Labels: docker

stuff
  Dockerfile
  README.md
  setup.sh
Labels: src, docs, docker

s
  Dockerfile
Labels: docker

-L
  Dockerfile
Labels: docker

php.ini
  docker-compose.yml
  php.ini
Labels: docker

s
  Dockerfile
Labels: docker

config default
  Dockerfile
  config/.htaccess-development
  config/.htaccess-production
  config/local.config-development.php
  config/local.config-production.php
  config/php-development.ini
  config/php-production.ini
  docker-compose.yml
  setup.sh
Labels: src, docker

wip
  Dockerfile
  README.md
  config/local.config-development.php
  docker-compose.dev.yml
  docker-compose.letsencrypt.yml
  docker-compose.yml
Labels: docs, docker

.github/labeler.yml:

src:
- setup.sh
- .gitattributes
- .gitignore

docs:
- _layouts/*
- assets/*
- _config.yml
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE.md
- README.md
- SECURITY.md

docker:
- .dockerignore
- Dockerfile
- docker-compose.yml

github:
- .github/*
